# Logs
logs
*.log

# Runtime data
pids
*.pid
*.seed

# Directory used for building the web app
dist

# Dependency directory
# Commenting this out is preferred by some people, see
# https://www.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git-
node_modules
bower_components

# Environment and IDE related files
.DS_Store
.idea
